body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
    background: #000000;
}

h1 {
    text-align: center;
}

#terminal-container {
    width: 1800px;
    height: 800px;
    margin: 0 auto;
    padding: 2px;
}
